<!-- partial for rendering datalinks which are not grouped by date -->

  <h2 class="heading-medium">Data</h2>
  <table>
    <tr>
      <th class="title">Link to the data</th>
      <th>Time period</th>
      <th>Format</th>
      <th>Last updated</th>
      <th>Data preview</th>
    </tr>
    <tbody>
    {% for datafile in result.datafiles %}
      <tr {% if result.datafiles.slice(5).includes(datafile) %} class='js-show-more-datafiles' {% endif %}>
        <td class="title"><a href="{{ datafile.url }}">
          {{ datafile.name or "Data Link"}}
        </td>
        {{ datafile | calculate_date | safe }}
        {% if datafile.format %}
        <td>{{ datafile.format }} {{ datafile | get_link_size }}</td>
        {% else %}
        <td class="no-date-added">Unknown</td>
        {% endif %}
        <td class="{% if not datafile.last_updated %}no-date-added{% endif %}">
          {{ datafile | datalink_updated}}
        </td>
        <td>
          {% if datafile.format === 'CSV' %}
            <a href="/preview-1/{{ result.name }}/{{ datafile.id }}">Preview</a>
          {% elif datafile.format === 'HTML' %}
            <a href="{{ datafile.url }}">Go to site</a>
          {% else %}
            <span class="no-date-added">Not available</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if (result.datafiles | length) > 5 %}
    <p class="show-toggle">Show more</a>
  {% endif %}
  <br />
