{% extends "layout.html" %}


{% block page_title %}
  Find Data Alpha
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="masthead">

    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-large">Page not found</h1>
        <p>If you entered a web address, please check it's correct.</p>
        <p>You can also find government data by either:</p>
        <div>
          <ul class="list list-bullet">
            <li><a href="/">searching from the home page</a>.
              This service is in <a href="https://www.gov.uk/help/beta">beta</a> and is still being tested
            </li>
            <li>visiting <a href="https://data.gov.uk">data.gov.uk</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>




</main>

{% endblock %}
