{% extends "layout.html" %}

{% block page_title %}
  Find Data Alpha
{% endblock %}

{% block content %}


<style>
 html { background: white }
</style>

<main class="preview" id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="/dataset/{{ datasetName }}" class="link-back">Back to dataset</a>
      <h1 class="heading-large">
        Road Safety
          <span class="heading-secondary">Spreadsheet</span>
      </h1>
      <p>You're previewing the first 4 rows of this file.</p>

      <a class="button" href="{{ url }}">Download this file</a>

      <section class="preview">
        {% if error %}
          {{ error }}
          {% else %}
        <table>
          <thead>
            <tr>
                <th>Accident_Index</th>
                <th>Location_Easting_OSGR </th>
                <th>Location_Northing_OSGR</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Police_Force</th>
                <th>Accident_Severity</th>
                <th>Number_of_Vehicles</th>
                <th>Number_of_Casualties</th>
                <th>Date</th>
                <th>Day_of_Week</th>
                <th>Time</th>
                <th>Local_Authority_(District)</th>
                <th>Local_Authority_(Highway)</th>
                <th>1st_Road_Class</th>
                <th>1st_Road_Number</th>
                <th>Road_Type</th>
                <th>Speed_limit</th>
                <th>Junction_Detail</th>
                <th>Junction_Control</th>
                <th>2nd_Road_Class</th>
                <th>2nd_Road_Number</th>
                <th>Pedestrian_Crossing-Human_Control</th>
                <th>Pedestrian_Crossing-Physical_Facilities</th>
                <th>Light_Conditions</th>
                <th>Weather_Conditions</th>
                <th>Road_Surface_Conditions</th>
                <th>Special_Conditions_at_Site</th>
                <th>Carriageway_Hazards</th>
                <th>Urban_or_Rural_Area</th>
                <th>Did_Police_Officer_Attend_Scene_of_Accident</th>
                <th>LSOA_of_Accident_Location</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>200812D100026</td>
                  <td>460830</td>
                  <td>452510</td>
                  <td>-1.0742609999999999</td>
                  <td>53.965099000000002</td>
                  <td>12</td>
                  <td>3</td>
                  <td>1</td>
                  <td>1</td>
                  <td>2008-01-10</td>
                  <td>5</td>
                  <td>23:58:00.0000000</td>
                  <td>189</td>
                  <td>E06000014</td>
                  <td>6</td>
                  <td>0</td>
                  <td>6</td>
                  <td>30</td>
                  <td>3</td>
                  <td>4</td>
                  <td>6</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>4</td>
                  <td>2</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>1</td>
                  <td>1</td>
                  <td>E01013369</td>
              </tr>
              <tr>
                  <td>2009120000327</td>
                  <td>460220</td>
                  <td>446720</td>
                  <td>-1.0846979999999999</td>
                  <td>53.913136999999999</td>
                  <td>12</td>
                  <td>3</td>
                  <td>1</td>
                  <td>1</td>
                  <td>2009-01-01</td>
                  <td>5</td>
                  <td>08:40:00.0000000</td>
                  <td>189</td>
                  <td>E06000014</td>
                  <td>4</td>
                  <td>1222</td>
                  <td>6</td>
                  <td>60</td>
                  <td>0</td>
                  <td>-1</td>
                  <td>-1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>6</td>
                  <td>1</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>1</td>
                  <td>E01013450</td>
              </tr>
              <tr>
                  <td>2009120001621</td>
                  <td>461460</td>
                  <td>448010</td>
                  <td>-1.065564</td>
                  <td>53.924585</td>
                  <td>12</td>
                  <td>3</td>
                  <td>1</td>
                  <td>1</td>
                  <td>2009-01-03</td>
                  <td>7</td>
                  <td>22:29:00.0000000</td>
                  <td>189</td>
                  <td>E06000014</td>
                  <td>3</td>
                  <td>19</td>
                  <td>1</td>
                  <td>60</td>
                  <td>1</td>
                  <td>4</td>
                  <td>3</td>
                  <td>64</td>
                  <td>0</td>
                  <td>0</td>
                  <td>4</td>
                  <td>1</td>
                  <td>4</td>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>1</td>
                  <td>E01013365</td>
              </tr>
              <tr>
                  <td>2009120002018</td>
                  <td>465130</td>
                  <td>451620</td>
                  <td>-1.0089170000000001</td>
                  <td>53.956578999999998</td>
                  <td>12</td>
                  <td>2</td>
                  <td>2</td>
                  <td>1</td>
                  <td>2009-01-04</td>
                  <td>1</td>
                  <td>17:15:00.0000000</td>
                  <td>189</td>
                  <td>E06000014</td>
                  <td>3</td>
                  <td>1079</td>
                  <td>3</td>
                  <td>40</td>
                  <td>3</td>
                  <td>2</td>
                  <td>4</td>
                  <td>1228</td>
                  <td>0</td>
                  <td>0</td>
                  <td>4</td>
                  <td>1</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>2</td>
                  <td>1</td>
                  <td>E01013351</td>
              </tr>
          </tbody>
        </table>
        {% endif %}
      </section>
    </div>
  </div>
</main>

{% endblock %}
